replicaCount: 1

image:
  repository: ""
  tag: "latest"
  pullPolicy: IfNotPresent

fullnameOverride: ""
nameOverride: ""

service:
  enabled: true
  type: ClusterIP
  port: 8080
  targetPort: 8080

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts: []
  tls: []

env: {}

command: []
args: []

resources: {}
